exercises/proj01/code/savePI_Home_Security_nodes_backup.json
[{"id":"4a09ee06.17466","type":"mqtt in","z":"69a420a3.9a70c","name":"ReadAlarm","topic":"alarm","qos":"0","broker":"77293117.a8a4b","x":140,"y":360,"wires":[["aa1bfdd1.92971"]]},{"id":"88cf63d7.ba8ce","type":"mqtt in","z":"69a420a3.9a70c","name":"DeviceStatus","topic":"devicestatus","qos":"0","broker":"77293117.a8a4b","x":150,"y":240,"wires":[["75580547.cd86bc"]]},{"id":"34e4a587.bba36a","type":"ui_switch","z":"69a420a3.9a70c","name":"","label":"System Status","group":"a5332751.0eb658","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":380,"y":100,"wires":[["3a74dc3e.254e54"]]},{"id":"2e896486.d0c08c","type":"mqtt out","z":"69a420a3.9a70c","name":"WriteSystemStatus","topic":"systemstatus","qos":"0","retain":"","broker":"77293117.a8a4b","x":910,"y":240,"wires":[]},{"id":"a734e8dd.6a3628","type":"mqtt in","z":"69a420a3.9a70c","name":"ReadSystemStatus","topic":"systemstatus","qos":"0","broker":"77293117.a8a4b","x":170,"y":100,"wires":[["34e4a587.bba36a"]]},{"id":"3a74dc3e.254e54","type":"function","z":"69a420a3.9a70c","name":"Save SystemStatus","func":"if (msg.payload === '1') {\n    msg.payload = '1';\n} else {\n    msg.payload = '0';\n}\nglobal.set('state', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["6cd2fca2.f9b454"]]},{"id":"75580547.cd86bc","type":"function","z":"69a420a3.9a70c","name":"Redirect SystemStatus","func":"var state = global.get('state') || '0';\n\nif (state === '1') {\n    msg.payload = '1';\n    global.set('state', '1');\n} else {\n    msg.payload = '0';\n    global.set('state', '0');\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["d1e1b77a.4727a8"]]},{"id":"d1e1b77a.4727a8","type":"switch","z":"69a420a3.9a70c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":240,"wires":[["2e896486.d0c08c"],["2e896486.d0c08c","aa1bfdd1.92971"]]},{"id":"1339b53e.d4f8bb","type":"rbe","z":"69a420a3.9a70c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":440,"wires":[["8d7edcfc.b379a"]]},{"id":"6cd2fca2.f9b454","type":"rbe","z":"69a420a3.9a70c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":100,"wires":[["d1e1b77a.4727a8"]]},{"id":"ac539ef5.82516","type":"ui_button","z":"69a420a3.9a70c","name":"","group":"a5332751.0eb658","order":0,"width":0,"height":0,"passthru":false,"label":"Test Alarm","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":150,"y":480,"wires":[["aa1bfdd1.92971"]]},{"id":"8d7edcfc.b379a","type":"mqtt out","z":"69a420a3.9a70c","name":"WriteAlarm","topic":"alarm","qos":"0","retain":"","broker":"77293117.a8a4b","x":930,"y":440,"wires":[]},{"id":"aa1bfdd1.92971","type":"function","z":"69a420a3.9a70c","name":"Check System State Send Alarm","func":"var state = global.get('state') || '0';\n\nif (state === '0') {\n    msg.payload = '0';\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["1339b53e.d4f8bb"]]},{"id":"77293117.a8a4b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a5332751.0eb658","type":"ui_group","z":"","name":"SavePI Home Security","tab":"719fddd9.73a1e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"719fddd9.73a1e4","type":"ui_tab","z":"","name":"SavePI Home Security","icon":"dashboard","order":3}]