exercises/proj01/code/savePI_Home_Security_nodes_backup.json
[{"id":"dbdfedce.61d6f","type":"function","z":"74e04ed4.a904a","name":"Check System State Send Alarm","func":"var state = global.get('state') || '0';\n\nif (state === '0') {\n    msg.payload = '0';\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":500,"wires":[["3515b39e.66573c"]]}][{"id":"a5813cbd.68c38","type":"mqtt in","z":"74e04ed4.a904a","name":"DeviceStatus","topic":"devicestatus","qos":"0","broker":"1d8f48ad.a1cb67","x":190,"y":340,"wires":[["943865f6.95fca8"]]},{"id":"541f87cd.9646d8","type":"ui_switch","z":"74e04ed4.a904a","name":"","label":"System Status","group":"49d3bd1.040ac44","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":460,"y":140,"wires":[["341693aa.6a1b3c","c3a70ebc.2d58f"]]},{"id":"57feb6d1.878468","type":"mqtt out","z":"74e04ed4.a904a","name":"WriteSystemStatus","topic":"systemstatus","qos":"0","retain":"","broker":"1d8f48ad.a1cb67","x":950,"y":340,"wires":[]},{"id":"a39e22bf.933f9","type":"mqtt in","z":"74e04ed4.a904a","name":"ReadSystemStatus","topic":"systemstatus","qos":"0","broker":"1d8f48ad.a1cb67","x":210,"y":140,"wires":[["541f87cd.9646d8","341693aa.6a1b3c"]]},{"id":"341693aa.6a1b3c","type":"function","z":"74e04ed4.a904a","name":"Save SystemStatus","func":"if (msg.payload === '1') {\n    msg.payload = '1';\n} else {\n    msg.payload = '0';\n}\nglobal.set('state', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[[]]},{"id":"943865f6.95fca8","type":"function","z":"74e04ed4.a904a","name":"Redirect SystemStatus","func":"var state = global.get('state') || '0';\n\nif (state === '1') {\n    msg.payload = '1';\n    global.set('state', '1');\n} else {\n    msg.payload = '0';\n    global.set('state', '0');\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["57feb6d1.878468"]]},{"id":"3515b39e.66573c","type":"rbe","z":"74e04ed4.a904a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":750,"y":500,"wires":[["8dba7f0d.2318b"]]},{"id":"c3a70ebc.2d58f","type":"rbe","z":"74e04ed4.a904a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":750,"y":140,"wires":[["57feb6d1.878468"]]},{"id":"c9cc708a.535bc","type":"ui_button","z":"74e04ed4.a904a","name":"","group":"49d3bd1.040ac44","order":0,"width":0,"height":0,"passthru":false,"label":"Test Alarm","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":190,"y":500,"wires":[["dbdfedce.61d6f"]]},{"id":"8dba7f0d.2318b","type":"mqtt out","z":"74e04ed4.a904a","name":"WriteAlarm","topic":"alarm","qos":"0","retain":"","broker":"1d8f48ad.a1cb67","x":930,"y":500,"wires":[]},{"id":"dbdfedce.61d6f","type":"function","z":"74e04ed4.a904a","name":"Check System State Send Alarm","func":"var state = global.get('state') || '0';\n\nif (state === '0') {\n    msg.payload = '0';\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":500,"wires":[["3515b39e.66573c"]]},{"id":"1d8f48ad.a1cb67","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"49d3bd1.040ac44","type":"ui_group","z":"","name":"SavePI Home Security","tab":"2292ff7d.5282","order":1,"disp":true,"width":"6","collapse":false},{"id":"2292ff7d.5282","type":"ui_tab","z":"","name":"SavePI Home Security","icon":"dashboard","order":3}]