exercises/proj03/code/node_red/smart_home_clockled.json
[{"id":"7e6fbaf1.0aa1c4","type":"mqtt in","z":"e8b1ae0b.63418","name":"","topic":"alarmclock","qos":"0","broker":"77293117.a8a4b","x":160,"y":180,"wires":[["80f2ce20.4129"]]},{"id":"80f2ce20.4129","type":"switch","z":"e8b1ae0b.63418","name":"Switch LED on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":180,"wires":[["6f2914f5.38845c","73071c69.d5a5e4"],["73071c69.d5a5e4"]]},{"id":"6f2914f5.38845c","type":"function","z":"e8b1ae0b.63418","name":"Set RGB white","func":"msg.payload = \"255,255,255\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":140,"wires":[["63040a46.ca64c4"]]},{"id":"63040a46.ca64c4","type":"mqtt out","z":"e8b1ae0b.63418","name":"","topic":"clockled/rgb/rgb/set","qos":"0","retain":"","broker":"77293117.a8a4b","x":850,"y":140,"wires":[]},{"id":"e863983a.12b2a8","type":"mqtt out","z":"e8b1ae0b.63418","name":"","topic":"clockled/rgb/brightness/set","qos":"0","retain":"","broker":"77293117.a8a4b","x":880,"y":220,"wires":[]},{"id":"73071c69.d5a5e4","type":"function","z":"e8b1ae0b.63418","name":"Set brightness","func":"if (msg.payload === \"1\") {\n    msg.payload = \"255\";\n} else {\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["e863983a.12b2a8"]]},{"id":"77293117.a8a4b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]