exercises/proj03/code/node_red/smart_home_catdoor.json
[{"id":"5040f4e4.9056dc","type":"mqtt in","z":"5f54522f.5b51fc","name":"","topic":"catdoor/catmagnet","qos":"0","broker":"77293117.a8a4b","x":110,"y":260,"wires":[["6b262d23.521dd4"]]},{"id":"6b262d23.521dd4","type":"rbe","z":"5f54522f.5b51fc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":260,"wires":[["e2833252.24863"]]},{"id":"34223e7a.e3b772","type":"comment","z":"5f54522f.5b51fc","name":"Read cat magnet hall switch","info":"","x":140,"y":220,"wires":[]},{"id":"450bbc8f.500234","type":"mqtt out","z":"5f54522f.5b51fc","name":"","topic":"catdoor/catmotor/set","qos":"0","retain":"","broker":"77293117.a8a4b","x":1240,"y":260,"wires":[]},{"id":"dccbbf05.c144b","type":"comment","z":"5f54522f.5b51fc","name":"Simulate lock/unlock cat door","info":"","x":1220,"y":220,"wires":[]},{"id":"2c41b742.abe718","type":"delay","z":"5f54522f.5b51fc","name":"10s delay until lock","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":340,"wires":[["b4b46473.b07cc8"]]},{"id":"e2833252.24863","type":"function","z":"5f54522f.5b51fc","name":"Check if door should unlock","func":"var doorState = global.get('catdoor') || 'locked';\n\n//Get payload\nvar payload = msg.payload;\n\n//Reset payload\nmsg.payload = '0';\n\n//Magnet detected on hall switch?\nif (payload === '1') {\n    //If door is locked --> mark msg\n    //that door should unlock\n    if (doorState !== 'unlocked') {\n        msg.payload = '1';\n    }\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["200f1377.2b88fc"]]},{"id":"200f1377.2b88fc","type":"switch","z":"5f54522f.5b51fc","name":"Forward if 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":260,"wires":[["2c41b742.abe718","7a314a1c.00fad4"],[]]},{"id":"7a314a1c.00fad4","type":"function","z":"5f54522f.5b51fc","name":"Set door unlocked","func":"global.set('catdoor', 'unlocked');\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":220,"wires":[["450bbc8f.500234"]]},{"id":"b4b46473.b07cc8","type":"function","z":"5f54522f.5b51fc","name":"Set door locked","func":"global.set('catdoor', 'lock');\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":340,"wires":[["450bbc8f.500234"]]},{"id":"77293117.a8a4b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]