exercises/proj03/code/node_red/smart_home_catdoor.json
[{"id":"a1f85a40.c38e48","type":"mqtt in","z":"5f54522f.5b51fc","name":"","topic":"catdoor/catmagnet","qos":"0","broker":"77293117.a8a4b","x":110,"y":240,"wires":[["e2a4d8b.f9d5d28"]]},{"id":"e2a4d8b.f9d5d28","type":"rbe","z":"5f54522f.5b51fc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":240,"wires":[["43c193d2.c4493c"]]},{"id":"cc666d45.74a97","type":"comment","z":"5f54522f.5b51fc","name":"Read cat magnet hall switch","info":"","x":140,"y":200,"wires":[]},{"id":"f3bfa68c.89fb48","type":"mqtt out","z":"5f54522f.5b51fc","name":"","topic":"catdoor/catmotor/set","qos":"0","retain":"","broker":"77293117.a8a4b","x":1240,"y":240,"wires":[]},{"id":"cc5874c3.a01988","type":"comment","z":"5f54522f.5b51fc","name":"Simulate lock/unlock cat door","info":"","x":1220,"y":200,"wires":[]},{"id":"b01ca5f.fc77758","type":"delay","z":"5f54522f.5b51fc","name":"10s delay until lock","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":320,"wires":[["f0d0de7.5a96a2"]]},{"id":"43c193d2.c4493c","type":"function","z":"5f54522f.5b51fc","name":"Check if door should unlock","func":"var doorState = global.get('catdoor') || 'locked';\n\n//Get payload\nvar payload = msg.payload;\n\n//Reset payload\nmsg.payload = '0';\n\n//Magnet detected on hall switch?\nif (payload === '1') {\n    //If door is locked --> mark msg\n    //that door should unlock\n    if (doorState !== 'unlocked') {\n        msg.payload = '1';\n    }\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["427d05c.5ee01fc"]]},{"id":"427d05c.5ee01fc","type":"switch","z":"5f54522f.5b51fc","name":"Forward if 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":240,"wires":[["b01ca5f.fc77758","3eb078.32d99f88"],[]]},{"id":"3eb078.32d99f88","type":"function","z":"5f54522f.5b51fc","name":"Set door unlocked","func":"global.set('catdoor', 'unlocked');\nmsg.payload=\"90\";\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":200,"wires":[["f3bfa68c.89fb48"]]},{"id":"f0d0de7.5a96a2","type":"function","z":"5f54522f.5b51fc","name":"Set door locked","func":"global.set('catdoor', 'lock');\nmsg.payload=\"-90\";\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":320,"wires":[["f3bfa68c.89fb48"]]},{"id":"77293117.a8a4b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]